* {
	margin: 0;
	padding: 0;
}

.container {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form,
.result {
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
	padding: 20px;
	border-radius: 10px;
}

.form {
	height: 200px;
}

.form-content {
	margin-top: 20px;
}
.input-wrapper {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 15px 0;
}

.input-label {
	font-size: 14px;
	color: gray;
	margin-bottom: 5px;
	padding-left: 5px;
}

.input {
	padding: 8px;
	border-radius: 5px;
	font-size: 1rem;
	border: 1px solid gray;
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
.valid {
	border: 1px solid green;
}
.error {
	font-size: 14px;
	margin-top: 5px;
	color: #e0070e;
}

.submit-button {
	border: none;
	width: 60%;
	height: 40px;
	border-radius: 20px;
	background: #dad9d9;
	font-weight: 600;
}
.enabled {
	background: #111;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.enabled:hover {
	background: #3f3f3f;
}
.loading {
	display: none;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 300px;
	width: 100%;
	background: #fff;
	z-index: 100;
}
.loader {
	color: #111;
	font-size: 45px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	transform: translateZ(0);
	animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.result {
	display: none;
}
.availability {
	margin: 15px 0;
}
.link {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.available,
.not-available {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
}
.available {
	background: green;
}
.not-available {
	background: red;
}
